body{
    margin:0;
    padding: 0;
    font-family:"Courier New", Courier, monospace;
}



div.main_container2{
    margin: 30px auto;
    width: 1080px;
    height: 550px;
    border: 3px solid #2c989e;
    padding: 10px;
    border-radius: 2%;
    box-shadow: 0 0 10px gray;
}
#title{
    width: 99%;
}
a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


.nav {
    width:1200px;
    height: 80px;
    margin:0 auto;
    background-color: #2c989e;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    /*position: fixed;*/

}

ul
{
    margin-top:0px;
    padding-top: 30px;
    display: flex;
    list-style:none;
}

li{
    margin:0 auto;
}

.btn2{
    background-color: #2c989e;
    color: white;
    font-size: 28px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    float: right;
}

.btn2:hover{
    background-color: #555;
}
.button{
    padding: 5px;
}
