body{
    margin:0;
    padding: 0;
    font-family:"Courier New", Courier, monospace;
}

a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}


.nav {
    width:1200px;
    height: 80px;
    margin:0 auto;
    background-color: #2c989e;
    color: aliceblue;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

}

ul
{
    margin-top:0px;
    padding-top: 30px;
    display: flex;
    list-style:none;
}

li{
    margin:0 auto;
}

.all {
    width: 1200px;
    margin: 3px auto;
    margin-top: 2px;
    box-shadow: 0 0 10px gray;
}

.description {
    word-wrap: break-word;
    padding: 15px;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

#spanWr{
    float: right;
}

#h5Wr{
    float: right;
}
#img_upl{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}