<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{css/create-recipeCSS.css}" >
    <title>Create recipe</title>
</head>
<body>
<div class="nav">

    <ul>
        <li><a th:href="@{/welcome}">My RECIPES</a></li>
        <li><a th:href="@{/view-recipes}">VIEW RECIPES</a></li>
        <li><a th:href="@{/logout}">LOG OUT</a></li>
    </ul>
</div>
    <div class="main_container2">
        <form action="#" th:action="@{/create-recipe}" th:object="${recipe}"  method = "post" enctype="multipart/form-data">
            <div class = "list"><h2><label for="title">Title</label></h2><input type="text"  th:field="*{title}" id = "title" placeholder="Enter here your title" required></div>
            <div class = "list"><h2><label for="textarea">Description</label></h2><textarea id ="textarea" rows="20" cols="150" name="comment"  th:field="*{description}" required ></textarea></div>
            <input type="file" name="file">
            <div class = "button"><button class="btn2" type="submit" formmethod="post" >Complete</button></div>
        </form>
    </div> 
</body>
</html>