<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/view-recipesCSS.css}">
    <title>View recipes</title>
</head>
<body>
<div>
    <div class="nav">
<!--        <ul th:object="${user}">-->
        <ul>
            <li><a th:href="@{/welcome}">My RECIPES</a></li>
            <li><a th:href="@{/create-recipe}">CREATE RECIPE</a></li>
            <li><a th:href="@{/logout}">LOG OUT</a></li>
        </ul>
    </div>
    <div class="all">
        <div  th:each="recipe:${recipes}" >

            <button type="button" class="collapsible" th:text="${recipe.title}"></button>
            <div class="content" >
                <div class="description" th:text="${recipe.description}"></div>
                <img id="img_upl" th:src="@{'/uploads/' + ${recipe.filename}}"/><br>
               <h5 id="h5Wr">Author:<span id="spanWr" th:text="${recipe.creator.email}"></span></h5>

            </div>
        </div>
    </div>

    <script type="text/javascript">
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
            });
        }
    </script>
</div>
</body>
</html>